altgraph==0.17.4
appdirs==1.4.4
argcomplete==3.5.3
colorama==0.4.6
hgtk==0.2.1
importlib_resources==6.5.2
numpy==2.2.1
opencv-python==4.11.0.86
packaging==24.2
pefile==2023.2.7
pillow==11.1.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.0
PyQt6==6.8.0
PyQt6-Qt6==6.8.1
PyQt6_sip==13.9.1
pytesseract==0.3.13
python-barcode==0.15.1
python-escpos==3.1
pywin32-ctypes==0.2.3
PyYAML==6.0.2
qrcode==8.0
setuptools==75.8.0
six==1.17.0
